# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local SQLite Database (Don't upload personal test data)
*.db
*.sqlite3

# Temporary Scripts
generate_splash.py

# Kivy / Buildozer Android Build Folders
.buildozer/
bin/

# Environment
.env
venv/
env/
